<div class="row">
   <div class="col s3">
     <div class="input-field">
    <select class="browser-default" ng-model="roommates.priceSort" ng-change="roommates.sortChanged()">
       <option value="1" selected>Ascending</option>
       <option value="-1">Descending</option>
    </select>
     </div>
  </div>
  <div>
<select class="col s3" multiple ng-model="roommates.bedsSort" ng-change="roommates.bedsChanged()">
      <option value=1>Beds 1</option>
      <option value=2>Beds 2</option>
    </select>

  </div>
</div>
<div class="row">
  <!--<div class="col s12 col l9 offset-l1">
   <div class="col s3">
  <input type="text" placeholder="Location" ng-model="roommates.searchText"/>
   </div>
   <div class="col s5">
   <select multiple>
      <option value="" disabled selected>Type</option>
      <option value="Apartment">Apartment</option>
      <option value="Town House">Town House</option>
      <option value="Condo">Condo</option>
      <option value="Single Family Home">Single Family Home</option>
    </select>
   </div>
   <div class="col s3">
   <select multiple>
      <option value="" disabled selected>Sort By</option>
      <option value="Apartment">Price</option>
      <option value="Town House">Location</option>
    </select>
   </div>
  </div>-->

  <div dir-paginate="roommates in roommates.roommates | itemsPerPage: roommates.perPage" total-items="roommates.roommatesCount">
    <!--<div class="card-panel white  col s12 col l9 offset-l1">
          <div class="black-text left">
           <div class="chip">{{roommates.category.replace('Roommate_', '')}}</div>
           <a>{{roommates.beds}} Bedroom {{roommates.subcategory}} in {{roommates.location.replace(', United States', '')}} </a>
          </div>
          <br>
          <div class="black-text left">
          {{roommates.price | currency:"$":0 }} /month | {{roommates.sqft}} Sqft
         | {{roommates.dateFrom | date:'d MMM yy'}} to {{roommates.dateTo | date:'d MMM yy'}}
         |<span am-time-ago="{{roommates.createdAt}}"></span>| {{roommates.contact.name}}
         | {{roommates.contact.gender}}
         
          </div>
    </div>-->
    <dic class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <img src="img/sky.jpg">
          <!--<span class="card-title">{{roommates.price | currency:"$":0 }} /month</span>-->
          <!--<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>-->
        </div>
        <div class="card-content">
          <p><a ui-sref="housingDetails">{{roommates.beds}} Bedroom {{roommates.subcategory}} in {{roommates.location.replace(', United States', '')}} </a></p>
          <p>
            {{roommates.price | currency:"$":0 }} /month {{roommates.sqft}} Sqft
          </p>
          <p>
            Available from {{roommates.dateFrom | date:'d MMM yy'}}
          </p>
           <p>
          Updated: <span am-time-ago="{{roommates.createdAt}}"></span>
          </p>
        </div>
      </div>
  </div>
</div>
</div>
</div>
<dir-pagination-controls on-page-change="roommates.pageChanged(newPageNumber)"></dir-pagination-controls>

<script>
 $(document).ready(function() {
    $('select').material_select();
  });
</script>