<br>
<div class="container">
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card hoverable blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Rentals</span>
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                        require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">Offer Rentals</a>
                    <a href="#">Need Rentals</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Roommates</span>
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                        require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">Offer Room</a>
                    <a href="#">Need Room</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">RideShare</span>
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                        require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">Offer Ride</a>
                    <a href="#">Need Ride</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Jobs</span>
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                        require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">Offer Job</a>
                    <a href="#">Need Job</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Other Classifieds</span>
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                        require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">Buy and Sell</a>
                    <a href="#">Services</a>
                    <a href="#">Others</a>
                </div>
            </div>
        </div>
    </div>
   
    <!--<div class="carousel">
    <h5>Recent Rentals</h5>
    <a class="carousel-item" href="#one!"><img src="img/smoke_road.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="img/smoke_road.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="img/smoke_road.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="img/smoke_road.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="img/smoke_road.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="img/smoke_road.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="img/smoke_road.jpg"></a>
  </div>
  
    <div class="carousel">
    <h5>Recent Roommates</h5>
    <a class="carousel-item" href="#one!"><img src="img/smoke_road.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="img/smoke_road.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="img/smoke_road.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="img/smoke_road.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="img/smoke_road.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="img/smoke_road.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="img/smoke_road.jpg"></a>
  </div>
  
    <div class="carousel">
    <h5>Recent Rides</h5>
    <a class="carousel-item" href="#one!"><img src="img/smoke_road.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="img/smoke_road.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="img/smoke_road.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="img/smoke_road.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="img/smoke_road.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="img/smoke_road.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="img/smoke_road.jpg"></a>
  </div>-->
</div>
<script>
  $(document).ready(function () {
    $('.carousel').carousel({
      indicators: true,
      padding:5,
      dist:5
    });
  })
</script>