
  <main>
    <center>
      <div class="section"></div>

      <h5 class="indigo-text" ng-hide="login.forgetPassword || login.create">Please, login into your account</h5>
      <h5 class="indigo-text" ng-show="login.forgetPassword">Forget Password?</h5>
      <h5 class="indigo-text" ng-show="login.create">Create Account</h5>
      <div class="section"></div>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form class="col s12" method="post">
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <label for='email'>Enter your email</label>
                <input class='validate' type='email' name='email' id='email' ng-model="login.email" />
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12' ng-hide="login.forgetPassword">
                <label for='password'>Enter your password</label>
                <input class='validate' type='password' name='password' id='password' ng-model="login.password" />
              </div>
              <label style='float: right;'>
								<a class='pink-text' ng-hide="login.forgetPassword || login.create " ng-click="login.forget()"><b>Forgot Password?</b></a>
							</label>
            </div>

            <br />
            <center>
              <div class='row'>
                <button ng-click="login.login()"type='submit' ng-hide="login.forgetPassword || login.create" name='btn_login' class='col s12 btn btn-large waves-effect'>Login</button>
                <button ng-click="login.reset()"type='submit' ng-show="login.forgetPassword" name='btn_login' class='col s12 btn btn-large waves-effect'>Reset Password</button>
                <button ng-click="login.createAccount()"type='submit' ng-show="login.create" name='btn_login' class='col s12 btn btn-large waves-effect'>Create Account</button>
              </div>
            </center>
          </form>
        </div>
      </div>
      <a ng-hide="login.create" ng-click="login.createLink()">Create account</a>
    </center>

    <div class="section"></div>
    <div class="section"></div>
  </main>
